@import '~tc-ui/src/styles/tc-includes';

.table {
  @include roboto;
  width: 100%;
  white-space: nowrap;
}

.table tr {
  border-bottom: 1px dashed $tc-gray-10;
}

.table th, .table td {
  text-align: left;
  padding: 3*$base-unit 1.6*$base-unit;
  vertical-align: middle;
}

.table th {
  color: $tc-gray-40;
  font-size: 2.8*$base-unit;
  line-height: 4*$base-unit;
}

.table th:first-child, .table td:first-child {
  padding-left: 0;
}

.table th:nth-child(4) {
  padding-left: 70px;
}

.table th.active {
  color: $tc-gray-80;
  @include roboto-bold;
  font-size: 2.8*$base-unit;
  line-height: 4*$base-unit;
}

.table th.active.asc::after {
  content: "\1f861";
  margin-left: 1.2*$base-unit;
}

.table th.active.desc::after {
  content: "\1f863";
  margin-left: $base-unit;
}

.table td:first-child img {
  width: 30px;
  height: 30px;
}

.table thead th:nth-child(2) {
  width: 100%;
}

.table th:nth-child(3), .table td:nth-child(3),
.table th:nth-child(4), .table td:nth-child(4) {
  text-align: right;
}

.table td:nth-child(2) {
  color: $tc-gray-90;
  font-size: 3*$base-unit;
  line-height: 6*$base-unit;
}

.table td:nth-child(3) {
  color: $tc-gray-90;
  font-size: 2.4*$base-unit;
  line-height: 6*$base-unit;
}

.folder {
  cursor: pointer;
}

.row-menu-btn {
  border: 1px solid $tc-gray-10;
  border-radius: 6px;
  display: inline-block;
  line-height: 6px;
  height: 11px;
  padding: 0 3px;
  cursor: pointer;

  &::after {
    content: '\22EF';
    color: $tc-gray-70;
    font-size: 14px;
    vertical-align: middle;
  }
}